* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 8px;
}

.artist-details {
  align-items: center;
}

.artist-card {
  border: none;
}

.loader {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link,
.btn-link:hover {
  text-decoration: none;
}

.seach-container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.search-field {
  border-radius: 30px;
}

.track-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .artist-details {
    text-align: center;
  }
  .seach-container {
    width: 100%;
  }
}
